body{
    margin: 0;
    height: 100vh;
   display: flex;
   flex-direction: row;
   justify-content:center;
   align-items: center;
   gap: 1rem;
}

button{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: larger;
    border: 1px solid gray;
}
